<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header><h2>Seja bem vindo</h2></ion-card-header>
    <ion-card-subtitle><h3>Financeira Genérica, o melhor opção para as suas finanças!</h3></ion-card-subtitle>

    <ion-card-content>
      <p>Código da sua Agência: 0459</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><h2>Confira nossas ofertas!</h2></ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Consórcio" width="100%" src="https://cdn-icons-png.flaticon.com/512/1556/1556541.png" />
          </ion-thumbnail>
          <ion-label>
            CONSÓRCIO
            <ion-label>
              A Genérica tem as mais variadas linhas de consórcio para você que tem planos <br>
              de adquirir uma casa própria, comprar um carro, uma moto, um smartphone, um tablet,<br>
              um videogame e muito mais.
            </ion-label>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Seguro" width="100%" src="https://cdn-icons-png.flaticon.com/512/2091/2091878.png" />
          </ion-thumbnail>
          <ion-label>
            SEGURO
            <ion-label>
              Os melhores planos de seguro do mercado!
            </ion-label>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Empréstimos" width="100%" src="https://cdn-icons-png.flaticon.com/512/2237/2237827.png" />
          </ion-thumbnail>
          <ion-label>
            EMPRÉSTIMOS
            <ion-label>
              Aquele empréstimo com as melgores condições, personalizado para caber no seu bolso!
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
