<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Extrato da conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header><h2>Suas operações recentes</h2></ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Número da operação: 1081
            <ion-label>
              Conta Destino: 12345-45
            </ion-label>
            <ion-label>
              Valor: R$ 450,00
            </ion-label>
          </ion-label>
        </ion-item> 

        <ion-item>
          <ion-label>
            Número da operação: 2422
            <ion-label>
              Conta Destino: 54321-05
            </ion-label>
            <ion-label>
              Valor: R$ 50,67
            </ion-label>
          </ion-label>
        </ion-item> 

        <ion-item>
          <ion-label>
            Número da operação: 3348
            <ion-label>
              Conta Destino: 89756-66
            </ion-label>
            <ion-label>
              Valor: R$ 2000,00
            </ion-label>
          </ion-label>
        </ion-item> 

        <ion-item>
          <ion-label>
            Número da operação: 65687
            <ion-label>
              Conta Destino: 99685-99
            </ion-label>
            <ion-label>
              Valor: R$ 1230,45
            </ion-label>
          </ion-label>
        </ion-item> 

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>